NEXT_PUBLIC_SERVER_URL = "http://localhost:5000/"
NEXT_PUBLIC_TOKEN_NAME = "medicrub_dashboard_token"
NEXT_PUBLIC_USERID_NAME = "medicrub_dashboard_userId"
NEXT_PUBLIC_GOOGLE_MAP_API="AIzaSyAtycMmGnQDLIZ4Rh0VBs5jaF46kdhQkJY"