.course-chapter-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	padding: 0 var(--space-lg);
	cursor: pointer;
}

.course-chapter-item:hover {
	background: var(--color-neutral-200);
}

.course-chapter-item__duration {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-xs);
}

.course-content-section__content {
	border-top: solid 1px var(--color-border-100);
	padding-top: var(--space-xs);
	padding-bottom: var(--space-md);
	background: var(--color-secondary-100);
}

.course-content-section__collapsible button {
	background: var(--color-secondary-100);
}

.course-content-section__collapsible button > div {
	background: var(--color-secondary-100);
}
