.podcasts-banner {
    padding: var(--space-xl) var(--space-lg);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: var(--space-xl);
}

.heading {
    font-weight: 700;
    font-size: var(--space-xl);
    line-height: 51px;
}

.left {
    text-align: left;
    max-width: 50ch;
}

.sub-heading {
    font-weight: 500;
    font-size: 18px;
    opacity: 0.4;
    margin-top: var(--space-sm);
    margin-bottom: var(--space-xl);
}

.important-numbers__heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    opacity: 0.3;
    margin-bottom: var(--space-xxs);
}

.numbers__item {
    padding: 0px;
    gap: var(--space-sm);

}

.numbers__container {
    display: flex;
    gap: var(--space-xl);
}

.numbers__item span {
    font-weight: 700;
    margin-inline-end: var(--space-xs);
    font-size: var(--space-lg);
    line-height: 40px;
    color: var(--color-red-200);
}

.right {
    position: relative;
}

.call-to-action {
    box-shadow: 1px 1px 4px #B1B1B1;
    padding: var(--space-unit);
    border-radius: var(--space-xxs);
    position: absolute;
    width: 195px;
    gap: var(--space-unit);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.cta__button {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
}

/* Lurem Ipsum dolar */
.cta__button__text__title {

    font-style: normal;
    font-weight: 300;
    font-size: var(--space-xs);
    line-height: 14px;

    opacity: 0.7;
}

.cta__button__text__subtitle {
    font-weight: 500;
    font-size: var(--space-sm);
}

.rectangle {
    position: absolute;
    background: var(--color-gray-150);
}

.rectangle1 {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 35px;
}

.rectangle2 {
    width: 35px;
    height: 27px;
    top: 33px;
    left: 70px;
}

.rectangle3 {
    width: 21px;
    height: 15px;
    top: 60px;
    left: 50px;
}

.rectangle4 {
    top: 0px;
    right: 0px;
    width: 70px;
    height: 35px;
}

.rectangle5 {
    bottom: 0px;
    right: 0px;
    width: 70px;
    height: 35px;
}

.rectangle6 {
    width: 35px;
    height: 27px;
    bottom: 33px;
    right: 70px;
}