.course-list__items {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-unit);
	justify-content: space-between;
}

.course-list__loading,
.course-list__error {
	text-align: center;
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
}

