.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    transition: flex-wrap 0.3s ease-in-out;
}

.category-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--color-primary-100);
    color: var(--color-neutral-200);
    border: 1px solid transparent;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 99px;
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.category:checked+.category-label {
    background: transparent;
    border-color: #C4C4C4;
    color: var(--color-primary-100);
}