.list {
    display: grid;
    gap: var(--space-sm);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}


.many-cols {
    margin-inline: auto;
    display: flex;
}

.explore-button {
    margin-top: var(--space-sm);
    margin-inline: auto;
}