.new-password-form__form > div {
	display: flex;
	flex-direction: column;
	gap: var(--space-lg);
	margin-bottom: var(--space-unit);
}

.new-password-form__subtitle {
	font-size: var(--text-lg);
	color: var(--color-text-100);
	text-align: right;
	margin-bottom: var(--space-lg);
}

.new-password-form__subtitle a {
	color: var(--color-link);
	font-weight: var(--fw-bold);
}

.new-password-form__button-wrapper {
	display: flex;
	align-items: flex-end;
	padding-top: var(--space-md);
}

