.expert-card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: var(--space-xs);
    gap: 20px;
  }
  
  .expert-card__image-section {
    position: relative;
  }
  
  .expert-card__top-rated-badge {
    background: var(--color-neutral-200);
    color: var(--color-primary-100);
    font-size: var(--space-sm);
    font-weight: 500;
    border-radius: 4px;
    position: absolute;
    top: var(--space-xs);
    left: var(--space-sm);
    z-index: 10;
    padding: var(--space-xxs);
  }
  
  .expert-card__image-container {
    min-height: 194px;
    overflow: hidden;
  }
  
  .expert-card__image {
    object-fit: cover;
    border-radius: var(--space-xs);
  }
  
  .expert-card__header {
    margin: 0;
  }
  
  .expert-card__title {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary-100);
  }
  
  .expert-card__info {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .expert-card__position {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-primary-100);
    opacity: 0.8;
  }
  
  .expert-card__position span {
    font-weight: 800;
  }
  
  .expert-card__session-review {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .expert-card__sessions {
    font-weight: 500;
    color: var(--color-primary-100);
  }
  
  .expert-card__reviews {
    font-size: var(--space-sm);
    color: var(--color-primary-100);
    opacity: 0.5;
  }
  