.title {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--color-primary-100);
}

.list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}