.my-courses__header {
	padding: var(--space-md) 0;
}

.my-courses__header h2 {
	color: var(--color-primary-100);
	font-size: var(--text-2xl);
	font-weight: var(--fw-medium);
	margin-bottom: var(--space-xs);
}

.my-courses__course-list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-lg);
}
