.form-page-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.form-page-container__form-container {
	flex: 1;
	width: 60%;
	padding: 48px 77px;
}

.form-page-container__logo-wrapper {
	margin-bottom: var(--space-2xl);
}

.form-page-container__title {
	font-size: var(--text-5xl);
	color: var(--color-primary-100);
	font-weight: var(--fw-bold);
	margin-bottom: var(--space-lg);
}

.form-page-container__subtitle {
	font-size: var(--text-lg);
	color: var(--color-text-100);
}

.form-page-container__subtitle a {
	color: var(--color-link);
	font-weight: var(--fw-bold);
}

.form-page-container__3rd-party-login {
	height: 87px;
}

.form-page-container__branding {
	background: var(--color-primary-100);
	width: 40%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: var(--space-6xl) var(--space-6xl);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-page-container__branding-title {
	font-size: var(--text-6xl);
	font-weight: var(--fw-medium);
	color: var(--color-text-300);
	margin-bottom: var(--space-md);
}

.form-page-container__branding-text {
	font-size: var(--text-lg);
	color: var(--color-text-200);
	font-weight: var(--fw-medium);
	line-height: var(--line-height-normal);
	margin-bottom: var(--space-xl);
	color: var(--color-text-200);
}

@media screen and (max-width: 1024px) {
	.form-page-container {
		flex-direction: column;
	}

	.form-page-container__form-container {
		width: 100%;
	}

	.form-page-container__branding {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.form-page-container {
		flex-direction: column;
	}

	.form-page-container__form-container {
		width: 100%;
	}

	.form-page-container__branding {
		display: none;
	}
}

