.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.not-found {
    flex: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-nav {
    border-bottom: 1px solid var(--color-border-100);
}

.not-found__title {
    color: var(--color-primary-100);
    font-size: var(--space-lg);

}

.not-found__description {
    font-size: var(--space-sm);
    color: var(--color-primary-100);
    opacity: 0.65;
}