.main-nav {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    position: sticky;
    top: 0;
}


.nav__button-group {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    margin-left: auto;

}

.register-btn {
    font-family: var(--font-aclonica);
}

.nav__button-group {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}