.course-content-header {
	margin-top: var(--space-lg);
	margin-bottom: var(--space-md);
	display: flex;
	flex-direction: column;
	gap: var(--space-xxs);
}

.course-content-header h2 {
	font-size: var(--text-2xl);
	font-weight: var(--fw-bold);
}

.course-content-header p {
	font-size: var(--text-md);
}

